<div id="header">
    <div class="row animated fadeInDown">
        <div class="large-2 columns">
            {% if header.name %}
                <h2>{{ header.name }}</h2>
            {% endif %}   
            {% if header.description %}
                <h6 class="light">{{ header.description }}</h6>
            {% endif %}
        </div>
        <div class="large-3 columns">
            <div class="row">
                <div class="small-4 columns light2">基本信息</div>
                <div class="small-8 columns border-left light2 ">
                    <ul class="no-bullet">
                        {% for item in header.address %}
                            <li>{{ item.line }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-3 columns">
            <div class="row">
                <div class="small-4 columns light2">联系方式</div>
                <div class="small-8 columns border-left light2">
                    <ul class="no-bullet">
                        {% for item in header.contact %}
                            <li>{{ item.line }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-3 columns">
            <div class="row">
                <div class="small-4 columns light2">社交信息</div>
                <div class="small-8 columns border-left light2">
                    <ul class="no-bullet">
                        {% for item in header.social %}
                            <li>{{ item.line }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-1 columns text-right website">
            <a href="{{ header.pdf_url }}"><i class="fi-arrow-down"></i> 下载</a>
        </div>
    </div>
</div>