<div class="avoid_pagebreak animated fadeInUp">
  <h4 class="title"><i class="fi-{{ module.header.icon }}"></i> {{ module.header.title }}</h4>
  <div class="row interests">
    {% for item in module.header.interests %}
    <div class="large-3 small-6 medium-3 columns {% if loop.last %}end{% endif %} {% if item.animation %}animated {{ item.animation }}{% endif %}">
      <div class="int_icon">
        <i class="fi-{{ item.icon }}"></i>
        <div class="activity">{{ item.activity }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {{ module.content }}
</div>
