<div class="avoid_pagebreak animated fadeInUp">
  <h4 class="title"><i class="fi-{{ module.header.icon }}"></i> {{ module.header.title }}</h4>
  <div class="row specialities">
    {% for item in module.header.specialities %}
    <div class="large-4 medium-4 small-6 columns">
      <ul data-pie-id="{{loop.index}}" class="pie_desc" {% if item.level == 100 %}data-options='{"donut_inner_ratio":"0.8"}'{% endif %}>
        <li data-value="{{ item.level }}">
          <div class="skill_info">
            <span class="skill_name">{{ item.name }}</span>
            <span class="skill_level">{{ item.level_name }}</span>
          </div>
        </li>
        {% if item.level != 100 %}
        <li data-value="{{ 100 - item.level }}"></li>
        {% endif %}
      </ul>
      <div id="{{loop.index}}" class="pie {% if item.level == 100 %}nostroke{% endif %} {% if item.animation %}animated {{ item.animation }}{% endif %}"></div>
    </div>
    {% endfor %}
  </div>
  {{ module.content }}
</div>
